<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kit.system.mapper.WebsiteMapper">
    <insert id="loveOnce" parameterType="java.lang.String">
        INSERT INTO `user_love_info` (`ip_or_user_id`, `user_tag`, `love_type`, `be_loved_id`, `love_msg`, `love_date`)
            VALUES (#{userIdOrIp}, #{userType}, #{loveType},#{id},#{msg}, CURDATE())
        ON DUPLICATE KEY UPDATE `love_msg` = VALUES(`love_msg`);
    </insert>

    <select id="hasLoved" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from `user_love_info`
            where ip_or_user_id=#{userIdOrIp}
                and love_type='0'
                and love_date=CURDATE()
                and `delete`='0'
    </select>

    <select id="loveCount" resultType="java.lang.Integer">
        select count(*) from `user_love_info`
            where love_type='0'
                and `delete`='0'
    </select>
</mapper>