<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kit.video.mapper.UserVideoBlockInfoMapper">

    <resultMap type="UserVideoBlockInfo" id="UserVideoBlockInfoResult">
        <result property="id" column="id"/>
        <result property="videoId" column="video_id"/>
        <result property="src" column="src"/>
        <result property="localDir" column="local_dir"/>
        <result property="blockIndex" column="block_index"/>
        <result property="fileType" column="file_type"/>
        <result property="createBy" column="createBy"/>
        <result property="createTime" column="createTime"/>
        <result property="delete" column="delete"/>
        <result property="updateTime" column="updateTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectVideoBlockInfoVo">
        select id, video_id, src, local_dir, block_index, file_type, createBy, createTime, `delete`, updateTime, updateBy, remark, status
        from user_video_block_info
    </sql>

    <select id="selectUserVideoBlockInfoList" parameterType="UserVideoBlockInfo" resultMap="UserVideoBlockInfoResult">
        <include refid="selectVideoBlockInfoVo"/>
        <where>
            <if test="videoId != null  and videoId != ''">
                and video_id = #{videoId}
            </if>
            <if test="createBy != null  and createBy != ''">
                and createBy = #{createBy}
            </if>
            <if test="createTime != null ">
                and createTime = #{createTime}
            </if>
            <if test="delete != null  and delete != ''">
                and delete = #{delete}
            </if>
            <if test="updateTime != null ">
                and updateTime = #{updateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">
                and updateBy = #{updateBy}
            </if>
            <if test="status != null  and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectVideoBlockById" parameterType="String"
            resultMap="UserVideoBlockInfoResult">
        <include refid="selectVideoBlockInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectVideoBlockByVideoId" parameterType="String"
            resultMap="UserVideoBlockInfoResult">
        <include refid="selectVideoBlockInfoVo"/>
        where video_id = #{videoId}
    </select>

    <select id="selectVideoBlockByVideoIds" parameterType="String"
            resultMap="UserVideoBlockInfoResult">
        <include refid="selectVideoBlockInfoVo"/>
        where video_id in
        <foreach collection="videoIds" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <insert id="insertVideoBlockInfo" parameterType="UserVideoBlockInfo">
        insert into user_video_browse_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,
            </if>
            <if test="videoId != null">video_id,
            </if>
            <if test="src != null">src,
            </if>
            <if test="localDir != null">local_dir,
            </if>
            <if test="blockIndex != null">block_index,
            </if>
            <if test="fileType != null">file_type,
            </if>
            <if test="createBy != null">createBy,
            </if>
            <if test="createTime != null">createTime,
            </if>
            <if test="delete != null">`delete`,
            </if>
            <if test="updateTime != null">updateTime,
            </if>
            <if test="updateBy != null">updateBy,
            </if>
            <if test="remark != null">remark,
            </if>
            <if test="status != null">status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},
            </if>
            <if test="videoId != null">#{videoId},
            </if>
            <if test="src != null">#{src},
            </if>
            <if test="localDir != null">#{localDir},
            </if>
            <if test="blockIndex != null">#{blockIndex},
            </if>
            <if test="fileType != null">#{fileType},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="delete != null">#{delete},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="remark != null">#{remark},
            </if>
            <if test="status != null">#{status},
            </if>
        </trim>
    </insert>

    <update id="updateVideoBlockInfo" parameterType="UserVideoBlockInfo">
        update user_video_browse_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="videoId != null">video_id =
                #{videoId},
            </if>
            <if test="src != null">src =
                #{src},
            </if>
            <if test="localDir != null">local_dir =
                #{localDir},
            </if>
            <if test="blockIndex != null">block_index =
                #{blockIndex},
            </if>
            <if test="fileType != null">file_type =
                #{fileType},
            </if>
            <if test="createBy != null">createBy =
                #{createBy},
            </if>
            <if test="createTime != null">createTime =
                #{createTime},
            </if>
            <if test="delete != null">delete =
                #{delete},
            </if>
            <if test="updateTime != null">updateTime =
                #{updateTime},
            </if>
            <if test="updateBy != null">updateBy =
                #{updateBy},
            </if>
            <if test="remark != null">remark =
                #{remark},
            </if>
            <if test="status != null">status =
                #{status},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVideoBlockById" parameterType="String">
        delete from user_video_block_info where video_id = #{videoId}
    </delete>

    <delete id="deleteVideoBlockByVideoId" parameterType="String">
        delete from user_video_block_info where id = #{id}
    </delete>

    <delete id="deleteVideoBlockByIds" parameterType="String">
        delete from user_video_block_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>