<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kit.video.mapper.UserVideoTagMapper">

    <resultMap type="UserVideoTag" id="UserVideoTagResult">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="useTimes" column="use_times"/>
            <result property="createBy" column="createBy"/>
            <result property="createTime" column="createTime"/>
            <result property="delete" column="delete"/>
            <result property="updateTime" column="updateTime"/>
            <result property="updateBy" column="updateBy"/>
            <result property="remark" column="remark"/>
            <result property="status" column="status"/>
    </resultMap>

    <sql id="selectUserVideoTagVo">
        select id, name, use_times, createBy, createTime, delete, updateTime, updateBy, remark, status
        from user_video_tag
    </sql>

    <select id="selectUserVideoTagList" parameterType="UserVideoTag" resultMap="UserVideoTagResult">
        <include refid="selectUserVideoTagVo"/>
        <where>
                        <if test="name != null  and name != ''">
                            and name like concat('%', #{name}, '%')
                        </if>
                        <if test="useTimes != null ">
                            and use_times = #{useTimes}
                        </if>
                        <if test="createBy != null  and createBy != ''">
                            and createBy = #{createBy}
                        </if>
                        <if test="createTime != null ">
                            and createTime = #{createTime}
                        </if>
                        <if test="delete != null  and delete != ''">
                            and delete = #{delete}
                        </if>
                        <if test="updateTime != null ">
                            and updateTime = #{updateTime}
                        </if>
                        <if test="updateBy != null  and updateBy != ''">
                            and updateBy = #{updateBy}
                        </if>
                        <if test="status != null  and status != ''">
                            and status = #{status}
                        </if>
        </where>
    </select>

    <select id="selectUserVideoTagById" parameterType="String"
            resultMap="UserVideoTagResult">
            <include refid="selectUserVideoTagVo"/>
            where id = #{id}
    </select>

    <insert id="insertUserVideoTag" parameterType="UserVideoTag">
        insert into user_video_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="id != null">id,
                    </if>
                    <if test="name != null">name,
                    </if>
                    <if test="useTimes != null">use_times,
                    </if>
                    <if test="createBy != null">createBy,
                    </if>
                    <if test="createTime != null">createTime,
                    </if>
                    <if test="delete != null">delete,
                    </if>
                    <if test="updateTime != null">updateTime,
                    </if>
                    <if test="updateBy != null">updateBy,
                    </if>
                    <if test="remark != null">remark,
                    </if>
                    <if test="status != null">status,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="id != null">#{id},
                    </if>
                    <if test="name != null">#{name},
                    </if>
                    <if test="useTimes != null">#{useTimes},
                    </if>
                    <if test="createBy != null">#{createBy},
                    </if>
                    <if test="createTime != null">#{createTime},
                    </if>
                    <if test="delete != null">#{delete},
                    </if>
                    <if test="updateTime != null">#{updateTime},
                    </if>
                    <if test="updateBy != null">#{updateBy},
                    </if>
                    <if test="remark != null">#{remark},
                    </if>
                    <if test="status != null">#{status},
                    </if>
        </trim>
    </insert>

    <update id="updateUserVideoTag" parameterType="UserVideoTag">
        update user_video_tag
        <trim prefix="SET" suffixOverrides=",">
                    <if test="name != null">name =
                        #{name},
                    </if>
                    <if test="useTimes != null">use_times =
                        #{useTimes},
                    </if>
                    <if test="createBy != null">createBy =
                        #{createBy},
                    </if>
                    <if test="createTime != null">createTime =
                        #{createTime},
                    </if>
                    <if test="delete != null">delete =
                        #{delete},
                    </if>
                    <if test="updateTime != null">updateTime =
                        #{updateTime},
                    </if>
                    <if test="updateBy != null">updateBy =
                        #{updateBy},
                    </if>
                    <if test="remark != null">remark =
                        #{remark},
                    </if>
                    <if test="status != null">status =
                        #{status},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserVideoTagById" parameterType="String">
        delete from user_video_tag where id = #{id}
    </delete>

    <delete id="deleteUserVideoTagByIds" parameterType="String">
        delete from user_video_tag where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectVideoTagsByVideoIds" parameterType="java.lang.String"
            resultType="com.kit.video.domain.vo.open.VideoWithTagInfoVo">
        select
            vwt.video_id as videoId,
            vwt.tag_id as tagId,
            vt.name as tagName,
            vt.use_times as useTimes
        from user_video_with_tag vwt
            LEFT JOIN user_video_tag vt on vt.id = vwt.tag_id
            where vt.`delete` != '1' and vt.status != '0' and vwt.`delete` != '1' and vt.status != '0'
        and vwt.video_id in
                <foreach collection="videoIds" item="id" close=")" open="(" separator=",">
                    #{id}
                </foreach>
    </select>
</mapper>