<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kit.video.mapper.VideoUserVideoCollectInfoMapper">

    <resultMap type="VideoUserVideoCollectInfo" id="VideoUserVideoCollectInfoResult">
            <result property="id" column="id"/>
            <result property="videoId" column="video_id"/>
            <result property="collectUserId" column="collect_user_id"/>
            <result property="collectType" column="collect_type"/>
            <result property="createBy" column="createBy"/>
            <result property="createTime" column="createTime"/>
            <result property="delete" column="delete"/>
            <result property="updateTime" column="updateTime"/>
            <result property="updateBy" column="updateBy"/>
            <result property="remark" column="remark"/>
            <result property="status" column="status"/>
    </resultMap>

    <sql id="selectVideoUserVideoCollectInfoVo">
        select id, video_id, collect_user_id, collect_type, createBy, createTime, delete, updateTime, updateBy, remark, status
        from user_video_collect_info
    </sql>

    <select id="selectVideoUserVideoCollectInfoList" parameterType="VideoUserVideoCollectInfo" resultMap="VideoUserVideoCollectInfoResult">
        <include refid="selectVideoUserVideoCollectInfoVo"/>
        <where>
                        <if test="videoId != null  and videoId != ''">
                            and video_id = #{videoId}
                        </if>
                        <if test="collectUserId != null  and collectUserId != ''">
                            and collect_user_id = #{collectUserId}
                        </if>
                        <if test="collectType != null  and collectType != ''">
                            and collect_type = #{collectType}
                        </if>
                        <if test="createBy != null  and createBy != ''">
                            and createBy = #{createBy}
                        </if>
                        <if test="createTime != null ">
                            and createTime = #{createTime}
                        </if>
                        <if test="delete != null  and delete != ''">
                            and delete = #{delete}
                        </if>
                        <if test="updateTime != null ">
                            and updateTime = #{updateTime}
                        </if>
                        <if test="updateBy != null  and updateBy != ''">
                            and updateBy = #{updateBy}
                        </if>
                        <if test="status != null  and status != ''">
                            and status = #{status}
                        </if>
        </where>
    </select>

    <select id="selectVideoUserVideoCollectInfoById" parameterType="String"
            resultMap="VideoUserVideoCollectInfoResult">
            <include refid="selectVideoUserVideoCollectInfoVo"/>
            where id = #{id}
    </select>

    <insert id="insertVideoUserVideoCollectInfo" parameterType="VideoUserVideoCollectInfo">
        insert into user_video_collect_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="id != null">id,
                    </if>
                    <if test="videoId != null">video_id,
                    </if>
                    <if test="collectUserId != null">collect_user_id,
                    </if>
                    <if test="collectType != null">collect_type,
                    </if>
                    <if test="createBy != null">createBy,
                    </if>
                    <if test="createTime != null">createTime,
                    </if>
                    <if test="delete != null">delete,
                    </if>
                    <if test="updateTime != null">updateTime,
                    </if>
                    <if test="updateBy != null">updateBy,
                    </if>
                    <if test="remark != null">remark,
                    </if>
                    <if test="status != null">status,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="id != null">#{id},
                    </if>
                    <if test="videoId != null">#{videoId},
                    </if>
                    <if test="collectUserId != null">#{collectUserId},
                    </if>
                    <if test="collectType != null">#{collectType},
                    </if>
                    <if test="createBy != null">#{createBy},
                    </if>
                    <if test="createTime != null">#{createTime},
                    </if>
                    <if test="delete != null">#{delete},
                    </if>
                    <if test="updateTime != null">#{updateTime},
                    </if>
                    <if test="updateBy != null">#{updateBy},
                    </if>
                    <if test="remark != null">#{remark},
                    </if>
                    <if test="status != null">#{status},
                    </if>
        </trim>
    </insert>

    <update id="updateVideoUserVideoCollectInfo" parameterType="VideoUserVideoCollectInfo">
        update user_video_collect_info
        <trim prefix="SET" suffixOverrides=",">
                    <if test="videoId != null">video_id =
                        #{videoId},
                    </if>
                    <if test="collectUserId != null">collect_user_id =
                        #{collectUserId},
                    </if>
                    <if test="collectType != null">collect_type =
                        #{collectType},
                    </if>
                    <if test="createBy != null">createBy =
                        #{createBy},
                    </if>
                    <if test="createTime != null">createTime =
                        #{createTime},
                    </if>
                    <if test="delete != null">delete =
                        #{delete},
                    </if>
                    <if test="updateTime != null">updateTime =
                        #{updateTime},
                    </if>
                    <if test="updateBy != null">updateBy =
                        #{updateBy},
                    </if>
                    <if test="remark != null">remark =
                        #{remark},
                    </if>
                    <if test="status != null">status =
                        #{status},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVideoUserVideoCollectInfoById" parameterType="String">
        delete from user_video_collect_info where id = #{id}
    </delete>

    <delete id="deleteVideoUserVideoCollectInfoByIds" parameterType="String">
        delete from user_video_collect_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>